flask==3.0.0
flask-cors==4.0.0
numpy==1.26.4          # Compatible with Pandas 2.1+ and older sklearn
pandas==2.1.4          # Newer version to ensure compatibility with recent numpy
scikit-learn==1.7.0    # Crucial to match your saved model
joblib==1.4.0
shap==0.42.1
matplotlib==3.7.2
gunicorn